*
    margin: 0
    padding: 0
    box-sizing: border-box


main
    width: 100vw
    height: 100vh
    background-color: #2b2b2b

    .slideshow
        height: 80vh

        img

        .displayed
            display: block
            height: 100%
            margin: auto

    .gallery
        display: flex
        justify-content: space-evenly
        align-items: center

        img
            min-width: 100px
            margin: 5px
            flex-basis: 1