*
    margin: 0
    padding: 0
    box-sizing: border-box
    font-size: calc( 0.4rem + 0.5vw  )


main
    width: 100vw
    height: 100vh
    background-color: #2b2b2b
    display: grid
    grid-template-rows: 80vh 20vh
    grid-template-columns: 100vw

    #slideshow
        position: relative
        display: flex
        width: 100vw
        grid-column: 1 / 2
        grid-row: 1 / 2
        overflow: hidden

        .arrow
            cursor: pointer
            position: absolute
            top: 50%

        #left-arrow
            left: 25px

        #right-arrow
            right: 25px

        #left-arrow:hover, #right-arrow:hover
            // box-shadow: 10px 10px 7px 0px rgba(0,0,0,0.75)

        .displayed
            display: block
            margin: auto
            max-height: 100%
            max-width: 100%

        .img-text
            position: absolute
            left: 50%
            transform: translateX(-50%)
            bottom: 220px
            padding: 3%
            background-color: #00000083
            color: white
            font-family: Arial, Helvetica, sans-serif
            font-size: 1.5rem

        .hidden
            display: none

    .gallery
        display: flex
        justify-content: space-evenly
        align-items: center
        grid-column: 1 / 2
        grid-row: 2 / 3
        padding: 1.2vw
        // overflow: hidden

        img
            max-height: 100%
            margin: 5px
            flex-basis: 1
            cursor: pointer
            transition: 200ms ease-out

            &:hover
                transition: 200ms ease-out
                transform: scaleX(1.1) scaleY(1.1)
                box-shadow: -1vw -1vw 0.8vw 0px rgba(0,0,0,0.75)